<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCq17QTjGEIPM6u2Mh4SpiOst8Voup73e0</string>
	<key>GCM_SENDER_ID</key>
	<string>565956431921</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>hyeon.MyDialy</string>
	<key>PROJECT_ID</key>
	<string>mydialy-c78c7</string>
	<key>STORAGE_BUCKET</key>
	<string>mydialy-c78c7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:565956431921:ios:11170ed86dcedad9a04510</string>
</dict>
</plist>